button{
    border-radius: 50%;
    border-color: cadetblue;
    align-items: center;
background-image: radial-gradient(red,blue,orange);

}
body{
background-image: radial-gradient(teal,pink,violet);
}
{
    border-radius: 75%;
    background-image: linear-gradient(lime,white);
}
