body{
	background: -webkit-linear-gradient(right, red, #000000, pink);
	background: -moz-linear-gradient(right, #aa99ee, #000000, #00aa00);
	background: -o-linear-gradient(right, #a8a2c1, #000000, #d6ddd6);
	background: linear-gradient(to right, #e5e0df, #b2a066, #e17d7d);
	color: #0051ff;
}

h1{
	color: #061a1c;
	text-shadow:0 0 2px rgb(172, 119, 215);
	font-family: times new roman, arial;
}

h2{
	color: #080918;
	text-shadow:0 0 2px rgba(255, 230, 0, 0.478);
	font-family: times new roman, arial;
}

h3{
	color: #1c0808;
	text-shadow:0 0 2px rgb(37, 167, 135);
	font-family: times new roman, arial;
}

p{
	color: #051414;
	font-family: times new roman, arial;
}

a:visited{
	color: rgb(8, 29, 22);
}